/**
 * Strong Testimonials stylesheet - Pages
 *
 * The default style inherited from original version of the plugin.
 */

.clear {
	clear: both;
}

/* container for content and pagination */
.strong-container.page {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}

/* container for posts */
.strong-container.page .content {
}

.strong-container.page .testimonial {
	border: 1px solid #E6E6E6;
	margin: 20px auto;
	padding: 0;
	text-align: left;
	height: auto;
}
	
.strong-container.page .testimonial .inner {
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfbfb 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 0%, #ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfbfb 0%, #ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfbfb 0%, #ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfbfb 0%, #ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#ededed', GradientType=0); /* IE6-9 */

	border: 1px solid #FFFFFF;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
	width: auto;
}

.strong-container.page .testimonial .heading {
	background: url("../images/quotes.png") no-repeat scroll left center transparent;
	margin-top: 0;
	padding-left: 40px;
	text-align: left;
}

.strong-container.page .testimonial .photo {
	float: left;
	margin-top: .25em;
	margin-right: 1em;
}

.strong-container.page .testimonial .photo img {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #EFEFEF;
	padding: 6px;
}

.strong-container.page .testimonial .content {
	background: transparent;
	float: none;
	height: auto;
	width: auto;
}

.strong-container.page .testimonial .client {
	margin-top: 1em;
	text-align: right;
}

.strong-container.page .testimonial .client .name {
	font-weight: bold;
}

.strong-container .readmore {
	margin-top: 1em;
}
